#skills-list ul li {
    font-size: 18px;
}


/* To make the image increase vertically with list size */


/* #side-img {
    height: auto;
}

#side-img img {
    height: 100%;
} */

#side-img img {
   align-items: center;
   justify-content: center;
   display: flex;
}

@media (min-width: 768px) {
.col-md-7 {
    align-items: center;
    justify-content: center;
    display: flex;
}
}