<div id="about">
    <div class="jumbotron">
        <h2 class="display-7">Education</h2>
        <div class="lead">
            <div id="ed-history-1">
                <div>
                    Bachelor of Engineering (Mech)
                </div>
                <div class="sub-text">
                    <div style="display: flex; flex: 2;">
                        BEC Bagalkot
                    </div>
                    <div>
                        2015 - 2019
                    </div>
                </div>

            </div>

            <!--             <div id="ed-history-2">
                <div>
                    Department of Computer Science, Pune University
                </div>
                <div>
                    2019 - 22
                </div>
            </div> -->
        </div>
        <!-- <hr class="my-4">

        <div class="lead">
            <div id="ed-history-1">
                <div>
                    B.Sc. (Honors) Computer Science
                </div>
                <div>
                    GPA: 7.6
                </div>
            </div>

            <div id="ed-history-2">
                <div>
                    SSCBS, Delhi University
                </div>
                <div>
                    2016 - 19
                </div>
            </div>
        </div> -->
        <hr class="my-4">

        <h2 class="display-7">Work</h2>
        <div class="lead">
            <div id="ed-history-1">
                <div>
                    Technical Lead - Full Stack
                </div>
                <div class="sub-text">
                    <div>
                        Tata Consultancy Services
                    </div>
                    <div>
                        Oct 2017 - Present
                    </div>
                </div>

            </div>

            <div id="ed-history-2">
                <div>
                    Visual Media Specialist
                </div>
                <div class="sub-text">
                    <div>
                        Schlumberger
                    </div>
                    <div>
                        Jun 2014 - Sep 2017
                    </div>
                </div>
            </div>

            <div id="ed-history-3">
                <div>
                    Technical Illustrator
                </div>
                <div class="sub-text">
                    <div>
                        QuEST Global
                    </div>
                    <div>
                        Jun 2012 - May 2014
                    </div>
                </div>
            </div>

            <div id="ed-history-4">
                <div>
                    Technical Illustrator
                </div>
                <div class="sub-text">
                    <div>
                        Alten India PVT LTD
                    </div>
                    <div>
                        Jan 2011 - Jun 2012
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">

        <p class="trail">To get in touch with me...</p>

        <a class="btn btn-dark btn-md" routerLink="/contact" role="button">Contact</a>
    </div>
</div>