<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://www.linkedin.com/in/anubhav-kandiyal/" target="_blank"><i class="icon ion-social-linkedin"></i></a><a href="https://www.github.com/anubhavc9" target="_blank"><i class="icon ion-social-github"></i></a><a href="https://www.instagram.com/anubhavkandiyal/"
                    target="_blank"><i class="icon ion-social-instagram"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a routerLink="/">Home</a></li>
                <li class="list-inline-item"><a routerLink="/about">About Me</a></li>
                <li class="list-inline-item"><a routerLink="/projects">Projects</a></li>
                <li class="list-inline-item"><a routerLink="/skills">Skills</a></li>
                <li class="list-inline-item"><a routerLink="/contact">Contact</a></li>
            </ul>
            <p class="signature">Anubhav Kandiyal</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>