<div class="main-container">
    <div class="heading">
      <h1 class="heading__title">Some of my personal projects</h1>
      <p class="heading__credits"><a class="heading__link" target="_blank" href="https://www.github.com/anubhavc9">github.com/anubhavc9</a></p>
    </div>
    <div class="cards">

    <div *ngFor="let project of projects">
        <app-project [cardNo]="project.cardNo" [title]="project.title" [desc]="project.desc" [front]="project.front" [back]="project.back" [tech]="project.tech" [href]="project.href"></app-project>
    </div>

    </div>
  </div>